.jumbotron{
  display:block;
  width: 100%;
  text-align: center;
  opacity: 0.93;
}

.container{
  padding-top: 25px;
}

@keyframes yourAnimation{
    0%{
        transform: rotate(0) scale(1.3);
        }
}

div div h1{
    animation: yourAnimation 3s 1 2s linear;
}