<div class="card">
  <div class="card-header">
    <h4>Your Cart</h4>
  </div>
  <div class="card-body">
    <ul *ngIf="choices">
      <li *ngFor="let item of choices" class="list-group-item">
        <div class="row">
          <div class="col-sm-3">{{item.name}}</div>
          <div class="col-sm-3">${{item.price}}</div>
          <div class="col-sm-3" style="width:50%">
            <input [(ngModel)]="item.qty" (ngModelChange)="actualizarTotal(item)" min="0" type="number" style="width: 40px" >
          </div>
          <div class="col-sm-3">
            <button (click)="remove(item)" type="button" class="btn btn-danger">Remove</button>
         </div>
       </div>
      </li>
    </ul>
    <div class="card-footer">
      <div class="row">
        <h5>Total: ${{total}}</h5>
        <button *ngIf="total!=0" (click)="buy()" type="button" class="btn btn-success" style="position: absolute; right:40px">Buy</button>
      </div>
    </div>
  </div>
</div>