<header>
  <nav class="navbar navbar-dark bg-dark">
    <a [routerLink]="['']" [routerLinkActive]="['actived']" class="navbar-brand" >Shopping-Cart</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
       <a [routerLink]="['products']" [routerLinkActive]="['actived']" class="nav-link" >Products</a>
      </li>
    </ul>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <div id="cart-container" >
          <div id="cart">
            <a [routerLink]="['cart']" [routerLinkActive]="['actived']">
            <i class="fa fa-shopping-cart" aria-hidden="true" style="color:white"></i>
            </a>
          </div>
        <span id="itemCount">0</span>
      </div>
      </li>
    </ul>
  </nav>
</header>

<body>

  <section id="content">
    <router-outlet></router-outlet>
  </section>

  
  <footer class="page-footer font-small bg-dark">
    <div class="footer-copyright text-center py-3" style="color:white">© 2019 - Mateo Chamorro
    </div>
  </footer>

</body>
