.lb{
  width: 95%;
  margin:auto;
  text-align: center;
  padding-top:20px;
  margin-bottom:20px;
}

.list-group{
  margin:auto;
  text-align: center;
}

#contenedor{
  width: 75%;
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
  opacity: 0.93;
}

strong{
  color:white;
}