<div class="row lb">
  <div class="col-sm-3"><strong>Product</strong></div>
  <div class="col-sm-3"><strong>Size</strong></div>
  <div class="col-sm-3"><strong>Price</strong></div>
</div>

<ul class="list-group">
  <li  *ngFor="let item of products" class="list-group-item" >
    <div class="row">
      <div class="col-sm-3">{{item.name}}</div>
      <div class="col-sm-3">{{item.size}}</div>
      <div class="col-sm-3">${{item.price}}</div>
      <div class="col-sm-3">
        <button (click)="onClick(item)" type="button" class="btn btn-primary">Add to cart</button>
      </div>
    </div>
  </li>
</ul> 

<!--Comunicación con el componente hijo "Carrito"-->
<app-cart [choices]="choices"></app-cart>