<div class="row lb">
  <div class="col"><strong>Product</strong></div>
  <div class="col"><strong>Size</strong></div>
  <div class="col"><strong>Price Per Unit</strong></div>
  <div class="col"><strong>Qty</strong></div>
  <div class="col"></div>
</div>

<ul class="list-group">
  <li  *ngFor="let item of products" class="list-group-item" >
    <app-item-list [product]="item" (messageEvent1)="receiveMessage1($event)" (messageEvent2)="receiveMessage2($event)"></app-item-list>
  </li>
</ul> 

<!--Comunicación con el componente hijo "Carrito"-->
<app-cart [choices]="choices" [cant]="cantidad"></app-cart>
